body{
    font-family: sans-serif;
    margin: 0;
}
a{
 text-decoration: none;
 color: rgb(255, 255, 255);
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #007e67;
    align-items: center;
    padding: 10px
}
.logo{
    display: flex;
align-items: center;
}
.logo img{
    height:50px;
    margin-right: 10px;
    color: antiquewhite;

}

nav{
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10PX;
}

nav a:hover {
    color:#000000

}

p{
    padding: 1px 10px;
    text-decoration: none;
}

div1{
    padding: 10px 10px;
}
